@model List<AgendarModel>

@{
	ViewData["Title"] = "Todos os Agendamentos";
}

<h2>@ViewData["Title"]</h2>
<div>
	<a asp-action="Agendar" class="btn btn-outline-success mb-3">+ Agendar Horário</a>
</div>
<div class="text-center">
	<div>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Data</th>
					<th>Hora</th>
					<th>Serviço</th>
					<th>Profissional</th>
					<th>Observações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Nome</td>
						<td>@item.Telefone</td>
						<td>@item.Data.ToString("dd/MM/yyyy")</td>
						<td>@item.Hora.ToString(@"hh\:mm")</td>
						<td>@item.Servico.ToString()</td>
						<td>@item.Profissional.ToString()</td>
						<td>@item.Observacoes</td>
						<td>
							<button onclick="carregarDadosEdicao(@item.Id)" type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal">
								Editar
							</button>
							<button onclick="agendamentoId.value = @item.Id" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removeModal">
								Remover
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<mensagem texto="@TempData["agendaVazia"]" classe="alert alert-danger"></mensagem>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content shadow-lg border-0">
			<div class="modal-header bg-danger text-white">
				<h5 class="modal-title fw-bold" id="removeModalLabel">
					<i class="bi bi-exclamation-triangle-fill"></i> Confirmação
				</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<p class="fs-5">Tem certeza de que deseja apagar este agendamento?</p>
				<p class="text-muted">Esta ação não pode ser desfeita.</p>
			</div>
			<div class="modal-footer justify-content-center">
				<form asp-action="Delete">
					<input name="id" type="hidden" id="agendamentoId" />
					<button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger px-4">Apagar</button>
				</form>
			</div>
		</div>
	</div>
</div>
